* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header {
  background-image: url('./images/piano.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 250px;
  z-index: 100
} */

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgb(255, 255, 255);
}
.background {
  background-image: url('./images/piano.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  height: 80px;
  opacity: 0.8;
}

nav {
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 60px 0 60px;
  margin-bottom: 40px;
}
nav h2 {
  color: #fff;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

nav li span {
  padding: 5px;
}

li a {
  padding: 5px;
  /* background-color: rgba(247, 245, 252, 0.938); */
  color: #fff;
  text-decoration: none;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  /* background-color: rgb(238, 211, 228); */
  color: rgb(241, 143, 204);
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.images {
  size: -20;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  shape-image-threshold: inherit;
}

img {
  border: 1px solid #ddd;
  border-radius: 9px;
  padding: 7px;
  width: 450px;
}

.add-cart {
  position: bottom;
  width: 10%;
  background-color: rgb(231, 215, 233);
  transition: all 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
  text-align: center;
}

.images:hover .cart1,
.images:hover .cart2,
.images:hover .cart3,
.images:hover .cart4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

/*--------------------- CART PAGE -------------------*/

.products-container {
  max-width: 650px;

  /* justify-content: space-around; */
  margin: 0 auto;
  margin-top: 50px;
}
.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: space-around;
  border-bottom: 4px solid rgb(248, 193, 236);
  margin: 0 auto;
}


.price {
  /* border-bottom: 1px solid lightgrey; */
  display: flex;
  align-items: center;
}

.quantity {
  /* border-bottom: 1px solid lightgrey; */
  display: flex;
  align-items: center;
}

.total {
  /* border-bottom: 1px solid lightgrey; */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* text-align: center; */
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}
hr {
  background: #617d98;
  border-color: transparent;
  border-width: 0.25px;
  width: 100%;
}
.products {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin: 1.5rem 0;
  /*  */
}



.products img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 0;
}

.basketTotalTitle {
  width: 50%;
}

.basketTotal {
  width: 10%;
}
